{% extends 'base.html' %}
{% block content %}

 <section class="py-5  container">
         <div class="row py-2">
                <div class="col-lg-8 col-md-8 mx-auto">
                	  <div class="card" >
                        <div class="card-body alert-success text-center">
                        	<h3 class="card-title fw-bold">Registered sucessfull!</h3>
                        	<a href="/">Return to home</a>
                        </div>
                                              
                </div> 
                </div>
        </div>
 </section>

{% endblock %}